<div class="blog-cover" style="background-image:url(/images/{{ site.inc.cover_image }});">

    <section>
        <div class="container">
            <a href="/" class="brand">
                <img src="/images/{{ site.inc.my_photo }}" alt="Max Voloshin" class="img-circle" style="max-height:90%;">
            </a>
            <br>
            <!--<h1><a href="/" class="brand">{{ site.inc.title }}</a></h1>-->

            <!--{% if site.inc.subtitle %}-->
            <!--<h3><a href="/" class="brand">{{ site.inc.subtitle }}</a></h3>-->
            <!--{% endif %}-->

            {% if site.inc.twitter %}
            <a class="social" href="https://twitter.com/{{ site.inc.twitter }}" title="Follow on Twitter" target="_blank"><i class="icon icon-twitter"></i></a>
            {% endif %}
            {% if site.inc.github %}
            <a class="social" href="https://github.com/{{ site.inc.github }}" title="Watch on Github" target="_blank"><i class="icon icon-github"></i></a>
            {% endif %}
            {% if site.inc.facebook %}
            <a class="social" href="http://facebook.com/{{ site.inc.facebook }}" title="Like on Facebook" target="_blank"><i class="icon icon-facebook"></i></a>
            {% endif %}
            <a class="social" href="/feed.xml" title="RSS Feed">
                <i class="icon icon-rss"></i>
            </a>
        </div>
    </section>
</div>

<!--{% if page.cover_image %}
<div class="article-cover">
<div>
<img src="/images/{{ page.cover_image }}" class="image">
</div>
</div>
{% endif %}-->